body {
  background-color: #fef6fb;
  font-family: 'Muli';
  color: #e6b2c6;
  margin: 1em;
  line-height: 2.0em;
}

.container {
  margin: .8em;
}

h1 {
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.8em;
  color: #d77fa1;;
}

form {
  display: block;
  text-align: center;
}

input {
  width: 80%;
}

label {
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: #d77fa1;
}

.button {
    background-color: #d77fa1;
    border: none;
    color: #fef6fb;
    padding: .6em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: .8em;
}

@media screen and (min-width: 768px) {
  label {
    display: inline;
    font-size: 1em;
  }

  input {
    width: 50%;
    display: inline-block;
  }

  .button {
    background-color: #d77fa1;
    border: none;
    color: #fef6fb;
    padding: .2em .8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: .8em;
}

}