body {
  background-color: #fef6fb;
  font-family: 'Muli', 'sans-serif';
  color: #e6b2c6;
  margin: 1em; /* 16px */
  line-height: 2.0em; /* 25.6px */
}

.header {
  background-color: #e6b2c6;
  text-align: left;
  color: #ffffff;
  font-size: 1.8em; /* 28.8px */
  font-weight: 700;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu > li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: .3em 1em; /* 4.8px 16px */
  text-decoration: none;
}

.container {
  margin: .8em; /* 12.8px */
  text-align: center;
}

.container > h1 {
  font-weight: 700;
  display: block;
  font-size: 1.8em; /* 28.8px */
  color: #d77fa1;;
}

h2 {
  font-weight: 700;
  display: block;
  font-size: 1.5em; /* 24px */
}

form {
  display: block;
}

input {
  width: 80%;
}

label {
  display: block;
  font-size: 1.5em; /* 24px */
  color: #d77fa1;
}

.button {
    background-color: #d77fa1;
    border: none;
    color: #fef6fb;
    padding: .6em 1.2em; /* 14.4px 19.2px */
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em; /* 24px */
    margin: .8em; /* 12.8px */
}

@media screen and (min-width: 768px) {
  label {
    display: inline;
    font-size: 1.2em; /* 19.2px */
  }

  input {
    width: 50%;
    display: inline-block;
  }

  .button {
    background-color: #d77fa1;
    border: none;
    color: #fef6fb;
    padding: .8em .8em; /* 12.8px 12.8px */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em; /* 16px */
    margin: .8em; /* 12.8px */
  }
}

@media screen and (min-width: 900px) {
  label {
    display: inline;
    font-size: 1em; /* 16px */
  }

  .button {
    background-color: #d77fa1;
    border: none;
    color: #fef6fb;
    padding: .8em .8em; /* 12.8px 12.8px */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em; /* 16px */
    margin: .8em; /* 12.8px */
  }
}